LMS_MUST_PULL=google/gemma-4-12b;https://huggingface.co/HauhauCS/Qwen3.5-4B-Uncensored-HauhauCS-Aggressive
LMS_UPDATE=true
LMS_CONTEXT=16132
#
# cat .env
# 
# ```
# ignore pull
# LMS_MUST_PULL=
#
# ignore update
# LMS_UPDATE=
#
# max context from model
# LMS_CONTEXT=0
# ```
